<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/bots/">Bots</a>
        </li>
        <li>
            <a href="/fight">Fight</a>
        </li>
        <li>
            <a href="/simulate">Simulate</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>