<!-- Header -->
<%- include('partials/header'); %>
<!-- End Header -->
    <!-- Navigation -->
    <!-- End Navigation -->
    <%- include('partials/nav'); %>
    <!-- Main Content -->
    <div class="content">
        <h3>
            Welcome to Bot Brawler!
        </h3>
        <p>
            Bot Brawler is designed to be a simulation engine that factors in not just a bot's capabilities, but also the capabilities of their team. This is version 1.0, which currently only has data storage capabilities.
        </p>
        <p>
            Our Roadmap:<br />
            We plan Bot Brawler to be able to factor in a bot's driver's capabilities, as well as their weapon's damage, reliability, stability, and type. Also planned for the future is the ability to weigh in a bot's armor capabilities. The application's simulation will be able to take all of these factors in, and determine what the simulated outcome of a fight will be.
        </p>
        <p>
            Contributions:<br />
            All data on this application is entered manually by volunteers and contributors. We do not perform any automated data gathering. Any information found on this application belongs to the respective team and/or entity who holds the copyright. Bot Brawler only assumes ownership of the program provided.
        </p>
        
    </div>
    <!-- End Main Content -->

    <!-- Footer -->
<%- include('partials/footer'); %>
    <!-- End Footer -->
