<!-- Header -->
<%- include('partials/header'); %>
<!-- End Header -->
    <!-- Navigation -->
    <!-- End Navigation -->
    <%- include('partials/nav'); %>
    <!-- Main Content -->
    <%
    for(const bot of bots){
        %>
        <div><%=bot.botName%></div>
        <%
    }%>
    <!-- End Main Content -->

    <!-- Footer -->
<%- include('partials/footer'); %>
    <!-- End Footer -->
